<br>
<div class="row">
  <div class="col-md-6">
    <%= image_tag @slide.photo, class: 'img' %>
  </div>
  <div class="col-md-6">
    <h6>Image prompt:</h6>
    <h3><%=  @slide.prompt%></h3>
    <hr>
<h6>Watson says: <br><br>
Please write your answer in full sentences. I know you are capable.</h6>
<br>
<%= form_for @watson do |f| %>
  <%= f.text_area :text, :cols => "50", :rows => "10" %><br/><br>
  <%= f.submit "Save", :class => "btn btn-success"%>
<% end %>
  </div>
</div>