<%=link_to "Next slide?", new_watson_path %>
<% if current_user.id == @watson.users.first.id %>

<h1>Thank you for your answer. Here are the results, human.</h1>
Text: <%= @watson.text %>
<br>
<%= button_to 'Edit Text', edit_watson_path(@watson), :method => :get %>
<br>
Sentiment Analysis:
<br>
<br>
<%= number_to_percentage(@watson.sentiment_score * 100, precision: 1) + " " + @watson.sentiment_label.capitalize %>
<br>
<br>
Emotion Analysis:
<ul>
<li>Joy: <%= number_to_percentage(@watson.emotion_joy.round(3) * 100, precision: 1) %></li>
<li>Sadness: <%= number_to_percentage(@watson.emotion_sadness.round(3) * 100, precision: 1) %></li>
<li>Fear: <%= number_to_percentage(@watson.emotion_fear.round(3) * 100, precision: 1) %></li>
<li>Disgust: <%= number_to_percentage(@watson.emotion_disgust.round(3) * 100, precision: 1) %></li>
<li>Anger: <%= number_to_percentage(@watson.emotion_anger.round(3) * 100, precision: 1) %></li>
</ul>
<br>
<br>
Keywords:
<br>
<br>
<% @watson.keywords.each do |keyword| %>
    Text: <%= keyword.text.capitalize %><br>
    Relevance: <%= keyword.relevance %><br>
    Count: <%= keyword.count %><br>
    <hr>
    <% end %>
<br>
<br>
Categories:
<br>
<br>
<% @watson.categories.each do |category| %> 
    Label: <%= category.label.capitalize %><br>
    Score: <%= category.score %><br>
    <hr>
<% end %>
<% else %>
Sorry!
<% end %>
