<h1>Lets see the results kids!</h1>
Text: <%= @watson.text %>
<br>
<%= button_to 'Edit Text', edit_watson_path(@watson), :method => :get %>
<br>
Sentiment Analysis:
<br>
<br>
<%= number_to_percentage(@watson.sentiment_score * 100, precision: 1) + " " + @watson.sentiment_label.capitalize %>
<br>
<br>
Emotion Analysis:
<ul>
<li>Joy: <%= number_to_percentage(@watson.emotion_joy.round(3) * 100, precision: 1) %></li>
<li>Sadness: <%= number_to_percentage(@watson.emotion_sadness.round(3) * 100, precision: 1) %></li>
<li>Fear: <%= number_to_percentage(@watson.emotion_fear.round(3) * 100, precision: 1) %></li>
<li>Disgust: <%= number_to_percentage(@watson.emotion_disgust.round(3) * 100, precision: 1) %></li>
<li>Anger: <%= number_to_percentage(@watson.emotion_anger.round(3) * 100, precision: 1) %></li>
</ul>
<br>
<br>
Keywords:   <%= @watson.keywords %>
<br>
<br>
Categories:
<ul>
<%= @watson.categories %> 
</ul>
<br>
Entities:
<%= @watson.entities %>
