<br>
<% if current_user.id == @watson.users.first.id %>
<h3>Watson received:</h3>
&nbsp <div class="container"><center><%= @watson.text %></center></div><hr><br>
<h3>Watson says:</h3>
<div class="container"><center>
Your text is <font color="limegreen"><%= number_to_percentage(@watson.sentiment_score * 100, precision: 1) + " " + @watson.sentiment_label %></font> according to my supercomputing standards. See the rest of my analysis below:
</center></div>
<br><br>
<div class="row">
        <div class="col-md-4">
        Emotion Analysis:
<br><br>
Joy: <%= number_to_percentage(@watson.emotion_joy.round(3) * 100, precision: 1) %><br>
Sadness: <%= number_to_percentage(@watson.emotion_sadness.round(3) * 100, precision: 1) %><br>
Fear: <%= number_to_percentage(@watson.emotion_fear.round(3) * 100, precision: 1) %><br>
Disgust: <%= number_to_percentage(@watson.emotion_disgust.round(3) * 100, precision: 1) %><br>
Anger: <%= number_to_percentage(@watson.emotion_anger.round(3) * 100, precision: 1) %><br>
        </div>
        <div class="col-md-4">
        Keywords:
<br>
<br>
<% @watson.keywords.each do |keyword| %>
    Text: <%= keyword.text.capitalize %><br>
    Relevance: <%= number_to_percentage(keyword.relevance * 100, precision: 1) %><br><br>
    <% end %>
        </div>
        <div class="col-md-4">
        Categories:
<br>
<br>
<% @watson.categories.each do |category| %> 
    Label: <%= category.label.capitalize %><br><br>
<% end %>
        </div>
</div>
        <br>
        <hr>
        <%= link_to 'Update Analysis', edit_watson_path(@watson), :method => :get, :class => "btn btn-light" %> 
        <%= link_to "Delete", delete_watson_path(@watson), method: :delete, :class => "btn btn-danger"  %>
<br>
<% else %>
Sorry!
<% end %>
