<!DOCTYPE html>
<html>
  <head>
    <title>Elementary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%)">
  
  <p class="navbar-text float-right">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.first_name %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link btn btn-light' %> 
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link btn btn-light'  %>
    <% end %>
  </p>

    <%= yield %>
  </body>
</html>
